@model IEnumerable<SiteMedico.Models.Paises>

@{
    ViewBag.Title = "Cadê Meu Médico ? - Lista de Países";
}
<style>
    body {
        font-family: Elephant !important;
    }

    h2 {
        color: #262262;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.PaisId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PaisId }) |
                @Html.ActionLink("Delete", "Excluir", new { id = item.PaisId })
            </td>
        </tr>
    }

</table>
